@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panels {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  flex: 0.5;
  cursor: pointer;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panels h3 {
  font-size: 24px;
  position: absolute;
  margin : 10px;
  bottom: 10px;
  left: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.4s;
}

.panels.active {
  flex: 5;
}

.panels.active h3 {
  opacity: 1;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panels:nth-last-of-type(4), .panels:nth-last-of-type(5) {
    display: none;
  }
}